@font-face {
	font-family: "Raleway";
	src: url('fonts/Raleway-Medium.ttf');
}

@media screen and (max-width: 767px){

}

@media screen and (min-width: 768px) and (max-width: 1023px){

}

@media screen and (min-width: 1024px){

}

/* GLOBAL */
*{
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    margin: 0;
    list-style-type: none;
    --font-color: #000;
    --color01: #0065FC;
    --color02: #DEEBFF;
    --color03: #F2F2F2;
}

.main {
    max-width : 1200px;
    margin: 0 auto;
}


.hebergements{
    /*flex-basis: 60%; remplace le width, mieux avec flex*/
    background-color: rgb(201, 90, 46);
    height: 300px;
}

.populaires{
    /*flex-basis: 40%;  remplace le width, mieux avec flex*/
    background-color: rgb(62, 165, 96);
    height: 300px;
}

.activites{
    /*flex-basis: 100%;  remplace le width, mieux avec flex*/
    background-color: rgb(47, 106, 216);
    height: 300px;
}

footer{
    background-color: #f2f2f2;
    height: 200px;
}


/* ----------HEADER---------- */
header{
    background-color: rgb(223, 208, 159);
    display: flex;
    flex-flow: row wrap; /* regroupe la direction et le retour à la ligne */
    justify-content: space-between; /* espace les éléments en collant le premier à gauche et le dernier à droite */
}
    
.brand_logo{
    margin: 20px auto 20px 20px;
}

.brand_logo a{
    padding: 0;
}

nav ul{
    display: flex;
    padding: 0;
}

header a{
    text-decoration: none;
    padding: 30px 20px 0 20px;
    display: block;
    color: var(--font-color);
}

nav li a:hover{
    color: var(--color01);
    border-top: 2px solid var(--color01);
    padding-top: 28px;
}

.subscribe a{
    color: var(--color01);
    font-weight: bold;
}

.subscribe a:hover{
    border-top: none;
    color: var(--color02);
}



/* ----------SEARCH---------- */
.search{
    background-color: rgb(195, 224, 218);
    height: 300px;
}
/* h1 et p */
.search h1{
    font-size: 20px;
    font-weight: bold;
    padding: 0 20px;
}

.search p{
    font-size: 14px;
    padding: 10px 0px 0 20px;
}

/* search bar */
#search_bar{
    display: inline-flex;
    margin: 15px 18px;
    border: 1px solid #f2f2f2;
    border-radius: 12px;
}

.fa-map-marker-alt{
    background-color: #f2f2f2;
    padding: 12px 16px;
    border-radius: 10px 0px 0px 10px;
}

#search_bar input{
    font-size: 14px 20px;
    padding: 12px;
    font-weight: bold;
    border: none;
}

#search_bar button{
    background-color: #0065FC;
    border: none;
    padding: 12px;
    border-radius: 0px 10px 10px 0px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
}

/* filters */
.filters p{
    padding-top: 0;
}
.filters{
    display: flex;
    flex-flow: row wrap;
}

.filters ul{
    display: flex;
}



/* ----------HEBERGEMENTS--------- */

/* ----------POPULAIRES---------- */

/* ----------ACTIVITES--------- */

/* ----------FOOTER---------- */